div.a{
background-color:#191970;
float:left;
width:33.3%;
color:white;
font:"arial";
 border:2px solid  black;
}
div.b{
background-color:#191970;
float:left;
width:33.3%;
color:white;
font:"arial";
  border:2px solid  black;
}
div.c{
background-color:#191970;
float:right;
width:33.3%;
color:white;
font:"arial";
  border:2px solid  black;
}
header.a{
background-color:#A52A2A;
padding:1em;
}
nav{
background-color:#A52A2A;
color:black;
font:"arial";
}
h1.a{
color:FFFAFA;
Font:"arial"
}
 h1,h2, h3, h4, h5, h6{
  color:black;
  font:"arial";
  text-aling:center;
  }
p{
  color:black;
  font:"arial";
  text-aling:center;
  }
  table, td, tr {
border: 2px solid black
}
table {
border-collapse: collapse;
width: 70%;
background-color: white;
}
  ul{
   color:black;
  }
  body{
   background-color:#FFFAFA;
  }
