
div.oi {
background-color:#191970
    color:white;
}
img.a{
    border-radius: 50%;
    height:50px;
}

img.b{
height:20px;
}

h1.a{
color:white;
Font:"arial"
}
 h1,h2, h3, h4, h5, h6{
  color:white;
  font:"arial";
  text-aling:center;
  }
p{
  color:white;
  font:"arial";
  text-aling:center;
  }
   body{
   background-color:#6495ED;
  }
